*{
    color:white
}
body{
    background: black;
}
.header{
    display: flex;
    align-items: center;
}
.header img{
    width: 30vw;
}
table,th,td{
    border: 1px solid gray;
}
.footer a{
    padding: .5rem;
}