*{
    color:white
}
body{
    background: black;
    width: 100vw;
}
.header{
    display: flex;
    align-items: center;
}
.header img{
    width: 30vw;
}
.main>table,th,td{
    border: 1px solid gray;
}
.skill{
    max-width: 100vw;
}
.skill span{
    padding: 0rem 0.5rem 0rem 0.5rem;
    margin: .5rem 0.5rem 0.5rem .5rem;
    border: 1px double gray;
}
.footer a{
    padding: .5rem;
}