:root {
    --background-color: rgb(7, 12, 26);
    --border-color: rgb(255, 255, 255, 0.1);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    /* overflow:none;
    scroll-snap-type: y mandatory;
    overflow-y: scroll; */
}

body .container {
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
    overflow-x:scroll;
    display: flex;
    flex-direction: column;
}

.container section {
    flex: none;
    display: flex;
    justify-content: top;
    align-items:center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align:start;
}
.sectionX{
    padding-top: 5rem;
}

nav {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0rem .1rem;
    overflow:hidden ;
    color: rgba(7, 12, 226 .1);
}

nav>.nav-section {
    padding: 1rem 1rem;

    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
    align-items:flex-start;
    justify-content:flex-start;
}

#nav-logo-section {
    justify-content:flex-start;
}

#nav-link-section {
    gap: 1rem;
}

#nav-social-section {
    gap: 1rem;
}

#nav-logo-section>a>i {
    font-size: 2rem;
}

#nav-logo-section>a>i>img {
    transition: ease-out 1s;
    height: 2rem;
}

#nav-link-section>a {
    transition: ease-out 1s;
}

#nav-social-section>a>i {
    transition: ease-out 1s;
    font-size: 1.5rem;
}

#nav-contact-section>a {
    transition: ease-out 1s;
}

#nav-logo-section>a>i>img:hover {
    height: 3rem;
    transition:cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

#nav-social-section>a>i:hover {
    transition: ease 1s;
    font-size: 2rem;
    cursor: pointer;
}

#nav-link-section>a:hover {
    font-size: 1.5rem;
    cursor: pointer;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

#nav-contact-section>a:hover {
    font-size: 1.5rem;
    cursor: pointer;
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

#nav-logo-section,
#nav-link-section {
    flex-basis: calc(100%/3);
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

* {
    scroll-behavior: smooth;
    cursor: cell;
    box-sizing: border-box;
}


h1,
h2,
h3,
a,
p,
li,
.greeting span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: white;
    cursor: cell;

}

a {
    text-decoration: none;
}

.greeting {
    padding: 5rem 2rem;
    background-image: url("https://media.giphy.com/media/26vUyWzmjBIlNJvRC/giphy.gif");
    background-size: cover;
    -webkit-background-clip: text;
}

.greeting span:hover {
    -webkit-text-fill-color: transparent;
    font-size: 8vw;
    /* background-color: aqua; */
    transition: ease-in-out;
    transition-duration: .2s;
    cursor: url("https://media.giphy.com/media/2sebI6np6MGKvoOGZK/giphy.gif"), auto;
}

.greeting span {
    font-weight: bolder;
    font-size: 6vw;
    /* transform:skew(10,30); */
    transition: ease-in-out;
    transition-duration: .5s;
}

main {
    flex-grow: 1;
}